PSD_ILSValidate/Masco.Display.ILSValidator.Client.Common/Service References/ServiceReferenceFileTransfer/IFileTransfer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.masco.co.kr/ILSValidator" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.masco.co.kr/ILSValidator" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.masco.co.kr/ILSValidator/Imports">
      <xsd:import schemaLocation="http://localhost:8080/MascoDisplayILSValidatorMiddleware/IFileTransfer?xsd=xsd1" namespace="http://www.masco.co.kr/ILSValidator" />
      <xsd:import schemaLocation="http://localhost:8080/MascoDisplayILSValidatorMiddleware/IFileTransfer?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:8080/MascoDisplayILSValidatorMiddleware/IFileTransfer?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RemoteFileInfo">
    <wsdl:part name="parameters" element="tns:RemoteFileInfo" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo_Headers">
    <wsdl:part name="CheckListPk" element="tns:CheckListPk" />
    <wsdl:part name="IsBasemap" element="tns:IsBasemap" />
    <wsdl:part name="Length" element="tns:Length" />
  </wsdl:message>
  <wsdl:message name="DownloadStreamRequest">
    <wsdl:part name="parameters" element="tns:DownloadStreamRequest" />
  </wsdl:message>
  <wsdl:message name="DownloadStreamRequest_Headers">
    <wsdl:part name="captureImagePk" element="tns:captureImagePk" />
  </wsdl:message>
  <wsdl:message name="DownloadStreamInfo">
    <wsdl:part name="parameters" element="tns:DownloadStreamInfo" />
  </wsdl:message>
  <wsdl:message name="DownloadStreamInfo_Headers">
    <wsdl:part name="Bytes" element="tns:Bytes" />
    <wsdl:part name="ChildPath" element="tns:ChildPath" />
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="Length" element="tns:Length" />
  </wsdl:message>
  <wsdl:portType name="IFileTransfer">
    <wsdl:operation name="UploadCaptureImage">
      <wsdl:input wsaw:Action="http://www.masco.co.kr/ILSValidator/IFileTransfer/UploadCaptureImage" name="RemoteFileInfo" message="tns:RemoteFileInfo" />
    </wsdl:operation>
    <wsdl:operation name="DownloadCaptureImageBy">
      <wsdl:input wsaw:Action="http://www.masco.co.kr/ILSValidator/IFileTransfer/DownloadCaptureImageBy" name="DownloadStreamRequest" message="tns:DownloadStreamRequest" />
      <wsdl:output wsaw:Action="http://www.masco.co.kr/ILSValidator/IFileTransfer/DownloadCaptureImageByResponse" name="DownloadStreamInfo" message="tns:DownloadStreamInfo" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>