PSD_ILSValidate/Masco.Display.ILSValidator.Client.Common/Service References/ServiceReferenceCheckList/ICheckList4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.masco.co.kr/ILSValidator" elementFormDefault="qualified" targetNamespace="http://www.masco.co.kr/ILSValidator" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20001/MascoDisplayILSValidatorMiddleware/ICheckList?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Masco.Display.ILSValidator.Entities" />
  <xs:import schemaLocation="http://localhost:20001/MascoDisplayILSValidatorMiddleware/ICheckList?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Validate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Masco.Display.ILSValidator.Entities" minOccurs="0" name="GetCheckListResult" nillable="true" type="q1:ArrayOfCHECKLIST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckListBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="filter" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckListByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Masco.Display.ILSValidator.Entities" minOccurs="0" name="GetCheckListByResult" nillable="true" type="q3:ArrayOfCHECKLIST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCheckList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Masco.Display.ILSValidator.Entities" minOccurs="0" name="entity" nillable="true" type="q4:CHECKLIST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCheckListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCheckListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCheckList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Masco.Display.ILSValidator.Entities" minOccurs="0" name="entity" nillable="true" type="q5:CHECKLIST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCheckListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCheckListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagePkBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkListPk" type="xs:int" />
        <xs:element minOccurs="0" name="isBasemap" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagePkByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetImagePkByResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateImageIsUse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imagePk" type="xs:int" />
        <xs:element minOccurs="0" name="isUse" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateImageIsUseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateImageIsUseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemoBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkListPk" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemoByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMemoByResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMemo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkListPk" type="xs:int" />
        <xs:element minOccurs="0" name="remarks" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMemoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertMemoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaneInfoListBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkListPk" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaneInfoListByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Masco.Display.ILSValidator.Entities" minOccurs="0" name="GetLaneInfoListByResult" nillable="true" type="q6:ArrayOfLANEINFO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLaneInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Masco.Display.ILSValidator.Entities" minOccurs="0" name="entity" nillable="true" type="q7:LANEINFO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLaneInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertLaneInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLaneInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Masco.Display.ILSValidator.Entities" minOccurs="0" name="entity" nillable="true" type="q8:LANEINFO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLaneInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLaneInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLaneInfoBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="laneInfoPk" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLaneInfoByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteLaneInfoByResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestListBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checklistPk" type="xs:int" />
        <xs:element minOccurs="0" name="reqType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestListByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Masco.Display.ILSValidator.Entities" minOccurs="0" name="GetRequestListByResult" nillable="true" type="q9:ArrayOfREQUEST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checklistPk" type="xs:int" />
        <xs:element minOccurs="0" name="idx" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Masco.Display.ILSValidator.Entities" minOccurs="0" name="GetRequestByResult" nillable="true" type="q10:REQUEST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRequestBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checklistPk" type="xs:int" />
        <xs:element minOccurs="0" name="idx" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRequestByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRequestByResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Masco.Display.ILSValidator.Entities" minOccurs="0" name="entity" nillable="true" type="q11:REQUEST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Masco.Display.ILSValidator.Entities" minOccurs="0" name="entity" nillable="true" type="q12:REQUEST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Masco.Display.ILSValidator.Entities" minOccurs="0" name="user" nillable="true" type="q13:USER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserCheckResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>